<div class="homepage">
  <h1>Welcome to Shopify Theme Development</h1>
  <p>{% render 'homepage-text' %}</p>
  <button>
    <a href="/collections/all" style="text-decoration: none; color:black">shop now</a>
  </button>
</div>